[opener]
open = [
  { run = 'xdg-open "$@"', orphan = true }
]

edit = [
  { run = 'nvim "$@"', block = true }
]

[open]
rules = [
  { mime = "text/*", use = "edit" },
  { mime = "application/pdf", use = "open" },
  { mime = "image/*", use = "open" },
  { mime = "video/*", use = "open" },
  { mime = "audio/*", use = "open" },
  { url = "*", use = "open" }
]
