* {
    background: #0f1416;
    foreground: #dee3e5;
    primary:    #85d2e7;
    secondary:  #b2cbd2;
    outline:    #899295;
    error:      #ffb4ab;

    color1:  #85d2e7;
    color2:  #b2cbd2;
    color11: #85d2e7;
}
