* {
    background: #1a120e;
    foreground: #f0dfd8;
    primary:    #ffb691;
    secondary:  #e6beab;
    outline:    #a08d84;
    error:      #ffb4ab;

    color1:  #ffb691;
    color2:  #e6beab;
    color11: #ffb691;
}
