/* ------------------------------
   CUSTOM BATTERY
--------------------------------*/

#custom-battery {
  min-height: 22px;
  padding: 4px 14px;
  margin: 0 6px;
  border-radius: 12px;
  transition: 150ms ease;
  background: radial-gradient(circle at 50% 250%,
            alpha(shade(@surface, 0.85), 0.90),
            alpha(@surface_dim, 0.90)) padding-box,
        linear-gradient(@primary, @on_primary) border-box;

  border: 1px solid transparent;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  opacity: 0.90;
  color: @on_surface;
}
