/* Hide Desktop completely by default */
#custom-desktop {
  opacity: 0;
  padding: 0;
  margin: 0;
  border: 0;
  min-width: 0;
  background: transparent;
  box-shadow: none;
}

/* When workspace empty → hide window */
window#waybar.empty #window {
  opacity: 0;
  padding: 0;
  margin: 0;
  border: 0;
  min-width: 0;
  background: transparent;
  box-shadow: none;
}

/* When workspace empty → show Desktop */
window#waybar.empty #custom-desktop {
  min-height: 26px;
  padding: 2px 14px;
  margin: 0 6px;
  border-radius: 10px;
  font-weight: 500;
  letter-spacing: 0.5px;
  background: radial-gradient(circle at 50% 250%,
            alpha(shade(@surface, 0.85), 0.90),
            alpha(@surface_dim, 0.90)) padding-box,
        linear-gradient(@primary, @on_primary) border-box;

  border: 1px solid transparent;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  opacity: 1; /* important */
}