/* ------------------------------
   POWER GROUP
--------------------------------*/

#custom-power,
#custom-lock,
#custom-exit,
#custom-reboot {

  min-height: 22px;
  padding: 4px 12px;
  margin: 0 4px;
  border-radius: 10px;
  transition: 150ms ease;

  background: radial-gradient(circle at 50% 250%,
            alpha(shade(@surface, 0.85), 0.90),
            alpha(@surface_dim, 0.90)) padding-box,
        linear-gradient(@primary, @on_primary) border-box;

  border: 1px solid transparent;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  opacity: 0.85;
  color: @on_surface;
}

/* Make power icon a bit clearer */
#custom-power {
  color: @on_surface;
}

/* Hover */
#custom-power:hover,
#custom-lock:hover,
#custom-exit:hover,
#custom-reboot:hover {
  background: radial-gradient(circle at 50% 250%,
            alpha(shade(@surface, 0.85), 0.96),
            alpha(@surface_dim, 0.96)) padding-box,
        linear-gradient(@primary, @on_primary) border-box;

  box-shadow:
      0 0 6px alpha(@primary, 0.25),
      inset 1px 2px 2px rgba(255, 255, 255, 0.25);
  opacity: 1;    
}

/* Press */
#custom-power:active,
#custom-lock:active,
#custom-exit:active,
#custom-reboot:active {
  box-shadow:
      inset 0 2px 4px rgba(0, 0, 0, 0.25);
}
