#window {
  padding: 2px 14px;
  margin: 0 6px;
  border-radius: 10px;
  font-weight: 500;
  letter-spacing: 0.5px;
  background: radial-gradient(circle at 50% 250%,
            alpha(shade(@surface, 0.85), 0.90),
            alpha(@surface_dim, 0.90)) padding-box,
        linear-gradient(@primary, @on_primary) border-box;

  border: 1px solid transparent;
  opacity: 0.85;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  transition: 150ms ease;
}

/* Glow on hover instead (this actually works) */
#window:hover {
  box-shadow:
    0 0 8px alpha(@primary, 0.35),
    0 4px 10px rgba(0, 0, 0, 0.25);
  opacity: 1;
}