/* ------------------------------
   HYPRLAND WORKSPACES
--------------------------------*/

/* ===== Container ===== */
#workspaces {
  padding: 5px 8px 5px 8px;
  border-radius: 12px;
  
  background: radial-gradient(circle at 50% 250%,
            alpha(shade(@surface, 0.85), 0.9),
            alpha(@surface_dim, 0.9)) padding-box,
        linear-gradient(@primary, @on_primary) border-box;

  border: 1px solid transparent;
  box-shadow:
    inset 0 1px 2px rgba(255, 255, 255, 0.2),
    0 2px 6px rgba(0, 0, 0, 0.25);
}


/* ===== Workspace Buttons ===== */
#workspaces button {
  color: @on_surface;
  border-radius: 3px;
  padding:0px 5px 0px 5px;
  margin:0px 2px 0px 2px;
  transition: all 0.3s ease-in-out;
  border: 1px solid transparent;

}


/* ===== Hover State ===== */
#workspaces button:hover {
 background:alpha(@secondary,0.2);
 border-radius: 8px;
}


/* ===== Active Workspace ===== */
#workspaces button.active {
  background:alpha(@primary,0.2);
  border: 1px solid transparent;
  transition: all 0.3s ease-in-out;
  min-width: 30px;
  border-radius: 8px;
  box-shadow: inset 1px 2px 2px rgba(255, 255, 255, 0.5), inset 0 1px 1px rgba(255, 255, 255, 0.8);
}


/* ===== Urgent Workspace ===== */
#workspaces button.urgent {
  opacity: 1;
  background: alpha(@error, 0.25);
  border: 1px solid alpha(@error, 0.6);
  box-shadow:
    0 0 14px alpha(@error, 0.35);
}
